*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: url("img/lal.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.contenedor .form .form-header .form-title{
	font-weight: normal;
	font-family: sans-serif;
	color: #f8b230;
	text-align: center;
	padding: 20px 0;
}
.contenedor .form .form-header .form-title span{
	color: #d2e19e;
}
.contenedor .form{
	background: rgba(0,0,0,.6);
	width: 90%;
	max-width: 750px;
	margin: auto;
	padding: 50px 35px;
	margin-top: 30px;
	padding-bottom: 30px;
	border-radius: 3px;
}
.contenedor .form .form-label{
	display: block;
	color: #f8b230;
	font-size: 16px;
	font-family: Roboto;
	position: relative;
}
.contenedor .form .form-input{
	background: rgba(0,0,0,.7);
	border: none;
	outline: none;
	border-bottom: 2px solid #f8b230;
	width: 100%;
	padding: 12px;
	padding-bottom: 20px;
	border-radius: 2px;
	font-size: 14px;
	color: #d2e19e;
	font-family: Roboto;
}
.contenedor .form .form-submit{
	width: 100%;
	font-family: Roboto;
	outline: none;
	border: none;
	background: #f8b230;
	font-size: 20px;
	color: white;
	padding: 15px 0;
	cursor: pointer;
}
.contenedor .form .form-link{
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
}